params {
    COHORT = "UKB"
    RUN_TYPE = "TEST"
    INPUT_SNPS = "${projectDir}/test/snps.csv"
    BGEN_FILES = "${projectDir}/test/bgen/ukb_chr*.{bgen,sample,bgen.bgi}"
    BED_FILES = "${projectDir}/test/bed/ukb_chr*.{bed,bim,fam}"
    TRAITS_DATASET = "${projectDir}/test/dataset.csv"
    FLASHPCA_EXCLUSION_REGIONS = "${projectDir}/assets/exclusion_regions_hg38.txt"
    UKB_WITHDRAWAL_LIST = "${projectDir}/test/withdrawal_list.txt"
    UKB_CONFIG = "${projectDir}/test/ukbconfig_small.yaml"
    QC_FILE = "${projectDir}/test/qc_file.csv" 
    NB_PCS = 5
}
