params {
    COHORT = "GENOMICC"
    INPUT_SNPS = "${launchDir}/input/final_eqtls_bqtls_for_LD_block_removal.csv"
    DECRYPTED_DATASET = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/pheno/genomicc.allcohorts.pheno.withdate.filt.csv"
    BED_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/geno_byChr/wp5-gwas-r9-genomicc-isaric4c-nodupl-phenoind_chr{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22}.{bed,bim,fam}"
    BGEN_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/imputed/genomic-isaric/GenOMICC_ISARIC_chr{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22}.{bgen,bgen.bgi,sample}"
    FLASHPCA_EXCLUSION_REGIONS = "input/exclusion_regions_hg38.txt"
    NB_PCS = 50
}
