manifest {
    author = 'Breeshey Roskams-Hieter'
    description = 'Nextflow pipeline to Compute LD Blocks around a set of SNPs'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.04.5'
    version = '0.1.0'
}

params {
    COHORT = "GENOMICC"
    INPUT_SNPS = "${launchDir}/input/genomicc_hq_eqtls_bqtls_nodup_rsids.csv"
    BGEN_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/imputed/genomic-isaric/GenOMICC_ISARIC_chr*.{bgen,sample,bgen.bgi}"
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/trace.txt"
}
