manifest {
    author = 'Breeshey Roskams-Hieter'
    description = 'Nextflow pipeline to Compute LD Blocks around a set of SNPs'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.04.5'
    version = '0.1.0'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
    ci {
        includeConfig 'conf/ci.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    docker {
        includeConfig 'conf/docker.config'
    }
    singularity {
        includeConfig 'conf/singularity.config'
    }
    container {
        includeConfig 'conf/container.config'
    }
    allofus {
        includeConfig 'conf/allofus.config'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/trace.txt"
}
