params {
    COHORT = "GENOMICC"
    INPUT_SNPS = "${launchDir}/input/test.csv"
    BGEN_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/imputed/genomic-isaric/GenOMICC_ISARIC_chr*.{bgen,sample,bgen.bgi}"
    BED_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/geno_byChr/wp5-gwas-r9-genomicc-isaric4c-nodupl-phenoind_chr*.{bed,bim,fam}"
    TRAITS_DATASET = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/pheno/genomicc.allcohorts.pheno.withdate.withcovariates.withconfounders.filt.csv"
    FLASHPCA_EXCLUSION_REGIONS = "${projectDir}/assets/exclusion_regions_hg38.txt"
    NB_PCS = 5
}
