process {
    withLabel: ukb_image {
        container = "olivierlabayle/ukbmain:0.5"
    }
    withLabel: pca_image {
        container = "roskamsh/flashpca:0.1.0"
    }
    withLabel: tl_core_image {
        container = "olivierlabayle/tl-core:0.10"
    }
    withLabel: r_python_image {
        container = "roskamsh/bgen_env:0.2.0"
    }
    withLabel: qctool_image {
        container = "roskamsh/qctools:0.1.1"
    }
    withLabel: plink2_image {
        container = "olivierlabayle/plink2:0.1.0"
    }
}