// This file is a configuration stub, it's intended to be included by any 
// container-engine specific configuration profiles.

process {
    container = 'oalmelid/baal-nf-env:1.3.1'

    withLabel: baal_chip {
        container = 'oalmelid/baal-chip-env:1.2.1'
    }

    withLabel: nopeak {
        container = 'oalmelid/nopeak:0.1.0'
    }

    withLabel: nopeak_utils {
        container = 'roskamsh/nopeak-utils:latest'
    }
}
