ukb_image_version = "olivierlabayle/ukbmain:0.5"
pca_image_version = "roskamsh/flashpca:0.1.0"
targenecore_image_version = "olivierlabayle/tl-core:0.10"
r_python_image_version = "roskamsh/bgen_env:0.2.0" 
qctool_image_version = "roskamsh/qctools:0.1.1" 
plink_image_version = "olivierlabayle/plink2:0.1.0"

process {
    withLabel: ukb_image {
        container = ukb_image_version
    }
    withLabel: pca_image {
        container = pca_image_version
    }
    withLabel: tl_core_image {
        container = targenecore_image_version
    }
    withLabel: r_python_image {
        container = r_python_image_version
    }
    withLabel: qctool_image {
        container = qctool_image_version
    }
    withLabel: plink2_image {
        container = plink_image_version
    }
}