includeConfig 'base.config'

executor {
  name = "sge"
  queueSize = "300"
}

process {
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  stageInMode = 'symlink'
  scratch = 'false'
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,135,139,140] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3

  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load 'singularity'
  unset XDG_RUNTIME_DIR
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """
}

params {
  // iGenomes reference base
  igenomes_base = '/exports/igmm/eddie/BioinformaticsResources/igenomes'
  max_memory = 384.GB
  max_cpus = 32
  max_time = 240.h
}

env {
  MALLOC_ARENA_MAX=1
}

singularity {
  runOptions = '-p -B "$TMPDIR"'
}

includeConfig 'singularity.config'
includeConfig 'container.config'
