process {
    withLabel: ukb_image {
        container = "/path/to/ukb_image"
    }
    withLabel: pca_image {
        container = "/path/to/flashpca_image"
    }
    withLabel: tl_core_image {
        container = "/path/to/tl_core_image"
    }
    withLabel: r_python_image {
        container = "/path/to/bgen_python_image"
    }
    withLabel: qctool_image {
        container = "/path/to/qctool_image"
    }
    withLabel: plink2_image {
        container = "/path/to/plink2_image"
    }
}